:root {
    --primary-color: #efeff5;
    --secondary-color: #10a1e4e1;
    --accent-color: gold;

    --first-font-size: 24px;
    --second-font-size: 18px;
}

body {
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
    font-size: 16px;
}

.container {
    display: grid;
    grid-template-columns: 1fr 3fr 1fr;
    grid-template-rows: 1fr 6fr;
}

.sidebar {
    background-color: var(--secondary-color);
    padding: 24px;

    grid-column: 1 / 2;
    grid-row: 1 / -1;

    display: flex;
    flex-direction: column;
    gap: 50px;
}

.sidebar-row {
    display: flex;
    align-items: end;
    gap: 5px;
}

.icon {
    height: 1.5em;
    width: 1.5em;
}

img {
    fill: white;
}

.icon-group {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 20px;
    justify-self: end;
    align-self: end;
}

.sidebar-title-group .icon {
    height: 2.1em;
    width: 2.1em;
}

.sidebar-title-group {
    display: flex;
    align-items: start;
    gap: 10px;
    padding-left: 2px;
}

.sidebar-title {
    color: white;
    font-size: 32px;
}

.sidebar-text {
    color: white;
    font-weight: bold;
}

.sidebar-top-group,
.sidebar-bot-group {
    display: flex;
    flex-direction: column;
    gap: 16px;
}

.sidebar-row {
    display: flex;
    gap: 20px;
}

.sidebar-row div {
    font-size: var(--second-font-size);
}

.header {
    padding: 0px 40px 0px 40px;
    box-shadow: 0px 5px 5px 5px;
    grid-column: 2 / -1;
    grid-row: 1 / 2;

    display: grid;

}

.nav-bar {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.nav-bar-left,
.nav-bar-right {
    display: flex;
    align-items: center;
    gap: 10px;
}

.nav-bar-right div {
    font-size: var(--second-font-size);
}

.search-bar {
    background-color: var(--primary-color);
    width: 50vw;
    height: 30px;
    border-radius: 20px;
    flex: 1;
}

.action-bar {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.name {
    font-size: var(--first-font-size);
    align-self: center;
}

.action-bar-left,
.action-bar-right {
    display: flex;
    gap: 20px;
}

.action-bar-right button {
    background-color: var(--secondary-color);
    border-width: 0px;
    border-radius: 20px;
    width: 80px;
    height: 30px;
    font-size: 16px;
    color: white;
}

.main-content {
    padding: 20px;
    background-color: var(--primary-color);

    grid-column: 2 / -2;
    grid-row: 2 / -1;

}

.main-content-cards {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    gap: 20px;
}

.card {
    height: 180px;
    background-color: white;
    display: grid;
    grid-template-rows: repeat(3, 1fr);
    border-left: 8px solid var(--accent-color);
}

.main-content-sidebar {
    background-color: var(--primary-color);
    padding: 20px;

    grid-column: -2 / -1;
    grid-row: 2 / -1;

    display: grid;
    grid-template-rows: 1fr 1fr;
    gap: 20px;
}

.announcements-card {
    background-color: white;
    height: 80%;
    display: grid;
    grid-template-rows: repeat(3, 1fr);
}

.trending-card {
    background-color: white;
    height: 55%;
    display: grid;
    grid-template-rows: repeat(4, 1fr);
}

.trending-profile {
    display: flex;
    gap: 10px;
    align-items: center;
}

.trending-text-group {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 3px;
}

.card,
.announcements-card,
.trending-card {
    border-radius: 10px;
    padding: 30px;
    box-shadow: 2px 2px 5px;
}

.announcement {
    overflow: hidden;
    text-overflow: ellipsis;
    font-size: 12px;
}

.divider {
    border-top: 1px solid black;
}

.subtitle {
    margin: 5px 0px 15px 0px;
    font-size: var(--second-font-size);
    font-weight: bold;
}

.card-text,
.card-subtext {
    color: gray;
}

.card-subtext {
    font-size: 12px;
}

.big-icon {
    height: 3em;
    width: 3em;
}